@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic|Montserrat:700,400|Open+Sans:400,700);

* {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.field label,
.home-page-title,
.page-title,
.small-label,
.btn {
    font-family: 'Montserrat', sans-serif;
}

.home-page-lead,
.letter p {
    font-family: 'Lora', serif;
}

.home-page-lead {
    font-style: italic;
    line-height: 1.2;
}

.secondary-home-page-button {
    text-transform: none;   
}

.btn {
    font-size: 14px !important;
    letter-spacing: 1px;
    font-weight: normal !important;
    text-transform: uppercase !important;
}

.btn-large {
    padding: 1.275em 1.5em !important;   
}

.field {
    margin-bottom: 0.5em; 
}  

.actions {
    width: 350px !important;   
}

.field label {
    text-transform: uppercase;   
}

.page-title {
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 1.9111rem;
    color: rgb(35, 37, 38);
}

.department-name {
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 1.9111rem; 
}

.home-page-title {
    font-size: 4.16667rem;
    line-height: 3.72222rem;
    font-weight: 700;
}

.letter {
    padding-left: 2em;
    padding-right: 2em;
}

.letter p {
    margin-left: 170px;   
}

.capacity_name {
    text-transform: none;   
    text-align: center;
    font-size: 0.75rem !important;
}

.capacity_icon span {
    border-radius: 50%;
    border: 3px solid rgb(85,85,85);
    padding: 0.35em;
    font-size: 0.75em;
    -webkit-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
}

.boxes_wrap .box.active .capacity_icon span,
.boxes_wrap .box:hover .capacity_icon span {
    border-color: rgb(255,255,255) !important;   
}

@media (max-width: 600px) {
    .home-page-title {
    	font-size: 2.75rem;
        line-height: 1.3;
	}
	.letter {
		padding-left: 0;
		padding-right: 0;
	}  
    .letter p {
		margin-left: 0;
	}
}
